html {
    height: 100%;
    width: 100%;
}

body{
    display: grid;
    grid-template-rows: auto auto  1fr auto;
    grid-template-columns: repeat(4, 1fr);
    height: 100vh;
    width: auto;
    margin-left: 10%;
    margin-right: 10%;
    font-family: Roboto;
    margin-top: 0;
    background-color:#071535;
}

header{
    grid-row: 1;
    grid-column:1 / span 4;
    padding: 20px;
    text-align: center;    
}

header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;
}

a img{
    grid-column: 1;
    height: 120px;
    width: 120px;
    background-color: orange;
    border-radius: 50%;
}

a {
    display: grid;
    grid-row: 4;
    grid-column: 2;
    text-decoration: none;
    color: white;
}

a:hover{
    color: #FFE50E ;
}

header li{
    list-style: none;
    padding: 20px;
    text-align: center; 
}

.content {
    height: 520px;
    width: 935px;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navigation {
    bottom: 20px;
    position: inherit;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.bar {
    width: 20px;
    height: 20px;
    border: 3px solid orange;
    margin: 20px;
    border-radius: 50%;
    cursor: pointer;
    transition: .4s;
}

input{
    display: none;
}

.bar:hover{
    background-color: orange;

}

.slides {
    display: flex;
    width: 400%;
    height: 100%;
}

.slide {
    width: 25%;
    transition: .6s;
}

.slide img {
    width: 100%;
    height: 100%;
}

#slide1:checked ~ .s1 {
    margin-left: 0;
}

#slide2:checked ~ .s1 {
    margin-left: -25%;
}

#slide3:checked ~ .s1 {
    margin-left: -50%;
}

#slide4:checked ~ .s1 {
    margin-left: -75%;
}

section {
    position: absolute;
    top: 110%;
    left: 10%;
    right: 10%;
    display: flex;
    padding: 20px;
}

section h2 {
    color: white;
    position: inherit;
    top: 0;
    left: 40%;
    font-size: 30px;
}

.relevant {
    display: flex;
    position: absolute;
    top: 125%;
    left: 6%;
    padding-top: 40px;
}

.article {
    padding: 20px;
    align-content: center;
}

.article a {
    background-color: #0A1740;
    height: 250px;
    width: 270px;
    border-radius: 20px;
    align-content: center;
}

.topic_img {
    height: 150px;
    width: 250px;
    border-radius: 20px;
    align-content: center;
}

a h3 {
    position: inherit;
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
}


footer{
    position: absolute;
    top: 180%;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    font-family: Roboto;
    padding-top: 40px;
    color: #fff;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background: #111;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #fff;
}

.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}

.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;

}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}






    
